<!DOCTYPE html>
<html>
  <head>
    <title>Habits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="messages">
      <%= notice %>
      <%= alert %>
    </div>
    <div class="wrapper">
      <%= render 'shared/navigation' %>
      <%= yield %>
    </div>
  </body>
</html>
